.button {
    background-color:rgba(200, 200, 200, 0.5);
    border-color: rgba(0, 0, 0, 0);
    color: black;
    border-radius: 3px;
    cursor: pointer;
    padding-top: 7px;
    padding-bottom: 7px;
    padding-left: 16px;
    padding-right: 16px;
    margin-bottom: 20px;

}

